<table class="ui selectable striped table">
     <thead>
        <tr>
          <th>应用名称</th>
          <th>功能描述</th>
          <th>仓库地址</th>
          <th>部署目录</th>
          <th>监控地址</th>
          {{!-- <th>status</th> --}}
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |rd|}}
        <tr>
          <td>{{rd.name}}</td>
          <td>{{rd.desc}}</td>
          <td>
            <a href="{{rd.repository_url}}" alt="{{rd.repository_url}}" >
              {{rd.name}}
            </a>
          </td>
          <td>{{rd.deploy_dir}}</td>
          <td>{{rd.monitor_url}}</td>
          {{!-- <td class="positive">ok</td> --}}
          <td>{{rd.created_at}}</td>
          <td>
              {{#link-to "app.detail" rd.id class="ui tiny small basic green button" }}详情{{/link-to}}
              {{!-- {{#ui-button class="tiny small basic green" }}部署{{/ui-button}}
              {{#ui-button class="tiny small basic blue" }}扩容{{/ui-button}} --}}
          </td>
        </tr>
        {{/each}}
        {{!-- <tr>
          <td>martin_restful</td>
          <td>v2 api</td>
          <td>http://git.shequan.com/background/martin_restful</td>
          <td>/home/ubuntu/workerspace/martin_restful</td>
          <td>zabbix.host.com/app/martin_restful</td>
          <td class="positive">Ok</td>
          <td>2018-1-1 12:00:00</td>
          <td>
              {{#link-to "app.detail" 15 class="ui tiny small basic green button" }}详情{{/link-to}}
          </td>
        </tr> --}}
      </tbody>
</table>